.widget {
  visibility: visible;
  opacity: 1;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.widgetStock {
  visibility: visible;
  opacity: 1;
}

.hiddenStock {
  opacity: 0;
  visibility: hidden;
}
